
.default-buttons {
    background: #ffffff;
    color: #000000;
    width: 63px;
    height: 63px;
    border: solid 1px #000000;
}

.activity-buttons {
    border :solid 1px #ffba52;
    width: 63px;
    height: 63px;
    background: #ffffff;
    color: #000000;
}

.activity-buttons:last-child {
    width: 155px;
    background: #ff9900;
    border: solid 1px #000000;
}