.display-area {
    width: 310px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-bottom: 28px;
}

input {
    border: none;
    font-size: large;
    text-align: end;
    padding: 10px;
    outline:none;
    
}

#result {
    color: #bebebe;
}