.App {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-wrapper {
    width: 398px;
    height: 620px;
    background-color: #cfe2f3;
    border: solid 1px black;
}

.working-panel {
    margin: 35px;
}


.buttons-area {
    width: 330px;
    height: 412px;
    display: flex;
}

.main-area {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.actvivity-button {
    border-color: #ffba52;
    width: 63px;
    height: 63px;
    background: #ffffff;
    color: #000000;
}

.default-buttons {
    background: #ffffff;
    color: #000000;
    width: 63px;
    height: 63px;
    border: solid 1px #000000;
}





